<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: #085a7b"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/employees">Gestión de Empleados</a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

<div
  aria-live="polite"
  aria-atomic="true"
  class="position-fixed top-0 end-0 p-3"
  style="z-index: 1100"
>
  <div id="toastContainer"></div>
</div>

<app-confirmation-modal
  #confirmationModal
  modalId="deleteConfirmationModal"
  title="Confirmar Eliminación"
  message="¿Está seguro de que desea eliminar este empleado? Esta acción no se puede deshacer."
  confirmButtonText="Eliminar"
  confirmButtonClass="btn-danger"
>
</app-confirmation-modal>
