<div class="card mt-4">
  <div
    class="card-header text-white"
    style="
      background-image: linear-gradient(
        to right top,
        #007b81,
        #007d83,
        #007f85,
        #008287,
        #008489
      );
    "
  >
    <h2 class="mb-0">
      {{ isEditMode ? "Editar Empleado" : "Agregar Nuevo Empleado" }}
    </h2>
  </div>
  <div class="card-body">
    <form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()">
      <div class="mb-3">
        <div *ngIf="imagePreviewUrl" class="mt-3 text-center">
          <img
            [src]="imagePreviewUrl"
            alt="Vista previa de la imagen"
            class="img-thumbnail"
            style="max-width: 150px; max-height: 150px; object-fit: cover"
          />
          <button
            type="button"
            class="btn btn-sm btn-danger d-block mx-auto mt-2"
            (click)="removeProfileImage()"
          >
            <i class="bi bi-trash-fill me-1"></i>Eliminar Imagen
          </button>
        </div>

        <label for="profileImageFile" class="form-label"
          >Imagen de Perfil</label
        >
        <input
          type="file"
          class="form-control"
          id="profileImageFile"
          (change)="onFileSelected($event)"
          accept="image/*"
        />
        <div class="form-text">Subir imagen de perfil (JPG, PNG, GIF).</div>
      </div>
      <div class="mb-3">
        <label for="fullName" class="form-label">Nombre</label>
        <input
          autocomplete="off"
          type="text"
          class="form-control"
          id="fullName"
          formControlName="fullName"
          [class.is-invalid]="
            f['fullName'].invalid &&
            (f['fullName'].dirty || f['fullName'].touched)
          "
        />
        <div
          *ngIf="
            f['fullName'].invalid &&
            (f['fullName'].dirty || f['fullName'].touched)
          "
          class="invalid-feedback"
        >
          <div *ngIf="f['fullName'].errors?.['required']">
            El nombre es requerido.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="company_id" class="form-label">Empresa</label>
        <select
          class="form-select"
          aria-label="Default select example"
          class="form-control"
          id="company_id"
          formControlName="company_id"
          [class.is-invalid]="
            f['company_id'].invalid &&
            (f['company_id'].dirty || f['company_id'].touched)
          "
        >
          <option *ngFor="let company of companies" [value]="company.id">
            {{ company.name }}
          </option>
        </select>
        <div
          *ngIf="
            f['company_id'].invalid &&
            (f['company_id'].dirty || f['company_id'].touched)
          "
          class="invalid-feedback"
        >
          <div *ngIf="f['company_id'].errors?.['required']">
            La empresa es requerida.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="company_area_id" class="form-label">Area</label>
        <select
          class="form-select"
          aria-label="Default select example"
          class="form-control"
          id="company_area_id"
          formControlName="company_area_id"
          [class.is-invalid]="
            f['company_area_id'].invalid &&
            (f['company_area_id'].dirty || f['company_area_id'].touched)
          "
        >
          <option *ngFor="let area of areas" [value]="area.id">
            {{ area.name }}
          </option>
        </select>
        <div
          *ngIf="
            f['company_area_id'].invalid &&
            (f['company_area_id'].dirty || f['company_area_id'].touched)
          "
          class="invalid-feedback"
        >
          <div *ngIf="f['company_area_id'].errors?.['required']">
            El area es requerido.
          </div>
          <div *ngIf="f['company_area_id'].errors?.['company_area_id']">
            Por favor, introduce un area válido.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="company_department_id" class="form-label"
          >Departamento</label
        >
        <select
          class="form-select"
          aria-label="Default select example"
          class="form-control"
          id="company_department_id"
          formControlName="company_department_id"
          [class.is-invalid]="
            f['company_department_id'].invalid &&
            (f['company_department_id'].dirty ||
              f['company_department_id'].touched)
          "
        >
          <option
            *ngFor="let department of departments"
            [value]="department.id"
          >
            {{ department.name }}
          </option>
        </select>
      </div>

      <div class="mb-3">
        <label for="position" class="form-label">Cargo</label>
        <input
          autocomplete="off"
          type="text"
          class="form-control"
          id="position"
          formControlName="position"
          [class.is-invalid]="
            f['position'].invalid &&
            (f['position'].dirty || f['position'].touched)
          "
        />
        <div
          *ngIf="
            f['position'].invalid &&
            (f['position'].dirty || f['position'].touched)
          "
          class="invalid-feedback"
        >
          <div *ngIf="f['position'].errors?.['required']">
            El cargo es requerido.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="startDate" class="form-label">Fecha de Contratación</label>
        <input
          autocomplete="off"
          type="date"
          class="form-control"
          id="startDate"
          formControlName="startDate"
          [class.is-invalid]="
            f['startDate'].invalid &&
            (f['startDate'].dirty || f['startDate'].touched)
          "
        />
        <div
          *ngIf="
            f['startDate'].invalid &&
            (f['startDate'].dirty || f['startDate'].touched)
          "
          class="invalid-feedback"
        >
          <div *ngIf="f['startDate'].errors?.['required']">
            La fecha de contratación es requerida.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="status" class="form-label">Estatus</label>
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="switchCheckDefault"
            [checked]="isActive"
            (change)="eventCheck($event)"
          />
          <label class="form-check-label" for="switchCheckDefault"
            >Activo</label
          >
        </div>
        <div
          *ngIf="
            f['status'].invalid && (f['status'].dirty || f['status'].touched)
          "
          class="invalid-feedback"
        >
          <div *ngIf="f['status'].errors?.['required']">
            El estatus es requerido.
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-success me-2"
        [disabled]="employeeForm.invalid"
      >
        <i class="bi bi-floppy-fill"></i>
        {{ isEditMode ? "Actualizar" : "Guardar" }}
      </button>
      <button type="button" class="btn btn-secondary" (click)="goBack()">
        <i class="bi bi-arrow-left-circle me-2"></i>Cancelar
      </button>
    </form>
  </div>
</div>
